.chatContainer {
    width: 100%;
    min-width: 420px;
    max-width: 440px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 70vh;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.messageContainer {
    min-width: 420px;
    max-width: 420px;
    overflow-y: auto;
    margin-bottom: 10px;
    height: 60vh;
}

.message {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 5px;
}

.inputContainer {
    display: flex;
    padding-left: 15px;
    min-width: 420px;
    align-items: center;
    position: fixed;
    bottom: 100px;
}

.inputField {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.sendButton {
    padding: 4px 12px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.userNick {
    font-weight: bold;
}

.line {
    border-top: 0.5px dashed black;
}