.chatContainer {
    width: 100%;
    min-width: 380px;
    max-width: 380px;
    border: 3px solid white;
    border-radius: 20px;
    height: 64vh;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.messageContainer {
    min-width: 370px;
    max-width: 370px;
    overflow-y: auto;
    margin-bottom: 10px;
    height: 55vh;
}

.message {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 5px;
}

.inputContainer {
    display: flex;
    padding-left: 15px;
    min-width: 380px;
    align-items: center;
    position: fixed;
    bottom: 80px;
}

.inputField {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

.sendButton {
    padding: 4px 12px;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.userNick {
    font-weight: bold;
}

.line {
    border-top: 0.5px dashed black;
}

.userListWrapper {
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
    overflow: auto;
    margin-bottom: 5px;
    min-height: 10vh;
    max-height: 10vh;
}

.userListUL {
    display: flex;
    flex-wrap: wrap;
}

.userListUL > li {
    margin-right: 0px;
    flex: 0 0 50%;
}